//variables

$secondary-color: #f268ea;
$bg-color: rgb(1, 32, 76);
$btn-color-nav: #9e64f8;
$btn-color-ctc: #2ca0e2;

//mixins
@mixin grad($w, $h, $l, $t, $bl) {
	width: $w;
	height: $h;
	left: $l;
	top: $t;
	filter: blur($bl);
}
